
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    
    font-family:  'Poppins', sans-serif;
    background-color: aliceblue;
    color: #444;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.navbar-brand a {

    text-decoration: none;
    font-weight: bold!  important;
}


.navbar-brand:hover {

    text-decoration: none;

}

.navbar-brand a:visited {

    text-decoration: none;

}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: white;
    
}

.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    position: fixed; 
    top: -5;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    margin: 0; 
    margin-top: -5;
    color: white !important;
}

.navbar-nav {


    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: -10px; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;



}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1em;
    transition: color 0.3s ease;
    margin-top: -10px; 
    border-radius: 30px; 

}

.navbar a:hover {
    color: #000000; /* Change color on hover */
}

.navbar-brand img {
    height: 70px; /* Adjust the height as needed */
    margin-bottom: -5px; 
}


a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

footer a {
    font-weight: bold;
}

#footer-text {

    font-size: 9px;
    margin-bottom: 5px;
}

nav a:visited {
    color: inherit;
}

.explore-button a:visited {
    color: inherit; 
}

.contact-button a:visited {
    color: inherit;
}

footer a:visited {
    color: inherit;
}
footer a {
    font-weight: bold;
}

a:visited {
    color: purple;
}

a:hover {
    color: #66BFFF;
    text-decoration: underline;
}

a:active {
    color: #004080;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 60px;
}

header h1 {
        font-family:  'Poppins', sans-serif;


    font-size: 36px;
    text-align: center;
}


header h2 {

    font-family: 'Poppins', sans-serif;

    font-size: 20px;
    text-align: center;
    font-weight: normal;
    max-width: 800px;
    margin: 10px auto;
    color: #666;
}

#header h2 {
    font-family: 'Poppins', sans-serif;

    font-size: 15px;
}
.portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}


nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    top: 0; 
    width: 100%;
    font-size: 15px;
    z-index: 1000;
    transition: top 0.1s ease-in-out;
    backdrop-filter: blur(10px); 
}
@media screen and (max-width: 768px) {

    nav {
        transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }


    body.scrolled-down nav {
        top: -100px; 
        opacity: 0; 
    }

    body.scrolled-up nav {
        top: 0; 
        opacity: 1; 
    }

}


.menu-option {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu-option:hover {
    background-color: #0056b3;
}


main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: calc(33.333% - 40px); /* three columns */
    min-width: 280px;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    font-family:  'Poppins', sans-serif;

    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

p {
    font-family:  'Poppins', sans-serif;


    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300 !important;
}

header p {

    font-family: 'Poppins', sans-serif;

    font-size: 20px;
    color: #555;
    text-align: center;
    max-width: 600px;
    font-weight: 300 !important;
}


.explore-button {

    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #003337;
    background-color: transparent; 
    border: 2px solid black; 
    text-decoration: none;
    border-radius: 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.explore-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}




.contact-button {

    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: bold;
    color: #003337;
    background-color: transparent; 
    border: 1px solid black; 
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    

}


#donate {
    border: 5px solid white;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    background-image: url('../images/dove-pattern.png'); 
    background-attachment: scroll;
    background-size: cover;
    background-position: center;

}

#donate h3 {
    color: black;
}

#donate p {
        color: black;
}



#donate .explore-button {

    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: bold;
    color: #003337;
    background-color: transparent; 
    border: 1px solid black;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
   
}

.contact-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .explore-button {
        font-size: 16px;
        padding: 12px 24px; 
    }

    section {
        width: 100%;
    }
}

footer {


    color: white;
    text-align: center;
    padding: 30px;
    width: 100%; 
    position: relative; 
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}


footer p {

    line-height: 1;
    font-size: 14px;
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav {
        flex-direction: row;
    }

    .menu-option {
        margin: 5px 0;
    }

    main {
        flex-direction: column;
        padding: 20px;
    }

    section {
        width: 100%;
    }

    .contact-card {
        width: 100%;
    }
}


.contact-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.contact-card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    width: calc(33.333% - 40px);
    min-width: 280px;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.contact-card h2 {
    font-size: 18px;
    color: #333;
}

.contact-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.contact-card a {
    color: #0066cc;
    text-decoration: none;
}

.contact-card a:hover {
    text-decoration: underline;
}


main img {
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

main img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}






.slideshow-container {
    position: relative;
    max-width: 50%;
    margin: auto;
  }

  .slide {
    display: none;
    width: 100%;
  }
  

  .slideshow-image {
    width: 100%;
    height: auto;
  }
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev {
    left: 0;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Fade animation */
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }
  

  .slide {
    animation-name: fade;
    animation: fade 1.5s;
  }
  



.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);

  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

#scroll-to-top:hover {

    background-color: #555;

}





/*******************//*******************//*******************//*******************/








#loading {
    display: none;
    text-align: center;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #333;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.services-cards-container {
    
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.services-card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    width: calc(33.333% - 40px);
    min-width: 280px;
}

.about-services-page {

    width: auto;
    text-align: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    text-wrap: wrap;


}

.buy-now-btn {

    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: bold;
    color: #003337;
    background-color: transparent;
    border: 1px solid black; 
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    

}


.explore-button {

    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #003337;
    background-color: transparent; 
    border: 2px solid black; 
    text-decoration: none;
    border-radius: 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}




@media screen and (max-width: 768px) {

    section {

        width: 100%;

    }

    .slideshow-container {
        position: relative;
        max-width: 90%;
        margin: auto;
      }

    #donate-text {
        font-size: 14px;
    }   

}


#next-steps {

    width: 90%; 
    max-width: 800px; 
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.792);

}
ol {

text-align: left;
margin-left: 40px;
margin-right: auto;
padding-left: 0;

}

ol li {
    list-style-type: numeric;
    counter-reset: my-awesome-counter;

    margin-bottom: 15px;

}





.terms-container {
    width: 90%; 
    max-width: 800px; 
    padding: 30px;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 0;

    
}

.terms-container h2, .terms-container h3 {
    font-family:  'Poppins', sans-serif;


    font-size: 24px;
    color: #333;
    margin-top: 20px;
    
    padding-bottom: 10px;
}

.terms-container h3 {
    font-size: 20px;
    color: #555;
}


.terms-container p {
    font-size: 16px;
    color: #444;
    line-height: 1.8;
    margin-bottom: 15px;
}


.terms-container ul {
    margin-left: 40px;
    margin-bottom: 20px;
}

.terms-container ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}


@media screen and (max-width: 768px) {
    .terms-container {
        padding: 15px;
    }

    .terms-container h2, .terms-container h3 {
        font-size: 20px;
    }

    .terms-container p, .terms-container ul li {
        font-size: 14px;
    }
}





section.about-services-page,
section.services-cards-container {

    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    color: white;
}

body.page-website-setup, 
body.page-website-setup h1, 
body.page-website-setup li {

    color: white; 
}

#intro-services-html, #intro-services-html-next {

    color: white;
    text-align: center;
    padding: 40px;
    margin-left: 40px;
    max-width: 90%;
    align-items: center;
}

#intro-services-html {

    margin: 0 auto;
}

#questions-heading {

    margin: 0 auto;
}

#intro-services-html-next a{

    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

#setup-packages-heading {
    font-size: 28px; 
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 20px;
    color: #ffffff;
}


.contact-services {
    font-size: 20px !important; 
    text-align: center !important; 
    margin-top: 50px !important; 
    margin-bottom: 30px !important;
    color: #fffafa;
    display: block;
}





@media screen and (min-width: 1185px) {
    #setup-packages-heading,
    .contact-services {
        font-size: 28px; 
        text-align: center; 
        margin-top: 50px; 
        margin-bottom: 30px; 
    }

    .services-cards-container, 
    .about-services-page {
        max-width: 1200px; 
        margin: 0 auto; 
        text-align: center;
    }
}



.faq-section h1, .faq-section h1 span {
    
        color: black !important;
}




footer.page-website-setup-footer {
    background-color: rgba(32, 35, 42, 0.9); 
    color: white;
    text-align: center;
    padding: 20px;
}


@media screen and (max-width: 768px) {

    #intro-services-html-next {
        margin-right: 40px !important;
        font-size: 16px !important;
        position: relative;
    }

    body, main, section, .services-cards-container, .faq-section {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    h1, h2, p {
        text-align: center;
        font-size: 18px;
    }

    .services-cards-container {
        display: block;
    }

    .services-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .buy-now-btn, .contact-button {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        text-align: center;
        align-items: center;
    }

    .contact-button {
        background-color: none;
        color: white;
        border-radius: 5px;
        text-align: center;
        transition: background-color 0.3s;
    }
    
    .contact-button:hover {
        background-color: #0056b3;
    }

    .about-services-page, .services-cards-container {

        max-width: 100%;
        padding: 10px;
    }

    
}





@media screen and (max-width: 768px) {
    section.about-services-page {
        width: 100%; 
        padding: 20px; 
    }

    main.page-website-setup-main {
        padding: 20px;
    }

    .services-cards-container {
        flex-direction: column; 
        gap: 10px;
    }

    .services-card {
        width: 100%; 
    }

    h1, h2, p {
        font-size: 4.5vw;
        text-align: center;
    }

    .buy-now-btn {
        width: 100%; 
    }
}

